section {
  margin: 20px 0;
  @include mq(m) {
    margin: 40px 0;
  }
  @include mq(l) {
    margin: 80px 0;
  }
  .title-section {
    color: var(--alternateTwoColor);
    font-size: 1.875rem;
    text-align: center;
    margin-bottom: 1.25rem;
    @include mq(xl) {
      padding-bottom: 1.875rem;
      font-size: 2.5rem;
    }
  }
}

p {
  font-size: 1rem;
  padding-bottom: 10px;
  @include mq(m) {
    padding-bottom: 15px;
  }
  @include mq(l) {
    padding-bottom: 20px;
  }
  @include mq(xxl) {
    padding-bottom: 20px;
    font-size: 1.25rem;
  }
}