.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 200px;
  text-align: center;
  background-color: var(--mainColor);
  border-radius: 50%;
  padding: 30px;
  @include mq(m) {
    height: 300px;
  }
  @include mq(m) {
    height: 400px;
  }
  @include mq(l) {
    height: 450px;
  }
  h2 {
    margin-bottom: 1em;
    font-size: 1.25rem;
    color: var(--white);
    @include mq(xl) {
      font-size: 2.5rem;
    }
  }
}