.footer {
  background-color: var(--mainColor);
  display: flex;
  padding-top: 20px;
  @include mq(l) {
    padding-top: 40px;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    @include mq(s) {
      justify-content: space-between;
    }
  }
  &__logo {
    display: flex;
    align-items: center;
    img {
      width: 40px;
      margin-right: 10px;
    }
    a {
      z-index: 9999;
      color: var(--white);
      ;
      @include mq(l) {
        font-size: 1.5rem;
      }
    }
  }
  &__social {
    align-items: center;
    h3 {
      color: var(--white);
      text-align: center;
    }
    .social-buttons {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      &__button {
        margin: 10px 5px 0;
      }
    }
    .social-button {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      outline: none;
      width: $social-button-radius;
      height: $social-button-radius;
      text-decoration: none;
      &__inner {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        border-radius: 100%;
        background: var(--secondColor);
        text-align: center;
        box-shadow: var(--shadowTwo);
        &:hover {
          box-shadow: var(--shadowImg);
        }
      }
      i,
      svg {
        position: relative;
        z-index: 1;
        transition: $social-button-transition-time;
        font-size: 2rem;
      }
      i {
        font-size: $social-button-radius * $social-button-icon-size;
      }
      svg {
        height: percentage($social-button-icon-size);
        width: percentage($social-button-icon-size);
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        display: block;
        width: 0;
        height: 0;
        border-radius: 100%;
        transition: $social-button-transition-time;
      }
      &:focus,
      &:hover {
        color: $social-button-active-color;
        &::after {
          width: 100%;
          height: 100%;
          margin-left: -50%;
        }
      }
      @each $name,
      $color in $social-button-colors {
        &--#{$name} {
          color: var(--white);
          &::after {
            background: $color;
          }
        }
      }
    }
  }
  p {
    color: var(--white);
    width: 100%;
    z-index: 9999;
    a {
      cursor: pointer;
      color: var(--alternateTwoColor);
      &:hover {
        color: var(--secondColor);
      }
    }
  }
  &__menu {
    display: none;
    @include mq(l) {
      z-index: 9999;
      display: flex;
      a {
        padding: .5rem 1.5rem;
        border-radius: 1rem;
        color: var(--white);
        &.active {
          color: var(--white);
          background-color: var(--secondColor);
        }
        &:hover {
          background-color: var(--secondColor);
          @include mq(l) {
            background-color: var(--secondColor);
          }
        }
        @include mq(m) {
          margin-left: .5rem;
        }
      }
    }
  }
}